.navbar {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #142941, #123524);
  height: 70px;
  color: #ffffff;
  font-weight: 800;
  z-index: 999;
}

.NavButtons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: 2vw;
  transition: all 0.3s ease;
}

.NavButtons button {
  font-size: 16px;
}

.NavButtons a {
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.NavButtons a:hover {
  color: #1f9e61;
}

.NavButtons .active {
  background-color: #1f9e61;
  color: black;
}

.NavButtons .active:hover {
  color: #000000;
}

.NavTitle {
  margin-left: 2%;
}

.NavTitle a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.NavTitle a:hover {
  color: #3c9aff;
}

.logoNav {
  width: 180px;
  height: auto;
  margin-left: -38px;
}

.projetosBtn {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.projetosBtn:hover {
  color: #1f9e61;
}

.projetosModal {
  position: fixed;
  top: 60px;
  right: 40px;
  background-color: #123524;
  border: 1px solid #1f9e61;
  border-radius: 6px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.projetosModal a {
  color: white;
  text-decoration: none;
  margin: 5px 0;
  transition: color 0.3s ease;
}

.projetosModal a:hover {
  color: #1f9e61;
}

.hamburger-menu {
  display: none; 
  border: none;
  color: white !important;
  font-size: 30px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 20px;
  background: none;
  padding: 0;
}

@media (max-width: 768px) {
  .NavButtons {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #142941, #123524);
    justify-content: flex-start;
    padding-top: 70px;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
    z-index: 9999;
  }
  
  .NavButtons {
      display: none; 
  }
  

  .NavButtons.show {
    display: flex; 
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }


  .NavButtons a,
  .NavButtons button {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }


  .hamburger-menu {
    display: block;
  }

  .projetosModal {
    position: static;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    margin-top: 10px;
    width: 100%;
  }

  .projetosModal a {
    padding-left: 30px;
    border-bottom: none;
    text-align: left;
  }
}