.sobre-container {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 5000px;
  font-family: 'Segoe UI', sans-serif;
}

.sobre-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #1f9e61;
  margin-top: 10vh;
}
.sobre-content iframe{
  border: #333;
  margin-top: 2vh;
}

.sobre-content p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #333;
  margin-top: 2vh;
  max-width: 1000px;
}
.sobre-content{
  display: flex;
  justify-content: center; 
  flex-direction: column;
  align-items: center;
}
.sobre-content h2 {
  font-size: 1.8rem;
  margin-bottom: 16px;
  color: #1f9e61;
}

.tech-list {
  list-style: none;
}

.tech-list li {
  margin-bottom: 10px;
  font-size: 1.05rem;
  padding: 10px 12px 10px 28px;
  border-radius: 6px;
  
}