@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

#root {
  margin: 0;
  width: 100vw;
}

.page-container {

  display: flex;
  flex-direction: column;
  overflow: visible;
}
.text-box{
  padding: 100px 0px 0px;
}
.page-container img {
  max-width: 100%;
}

.page-container iframe {
  display: block;
  margin: 40px auto;
  border: none;
  max-width: 90%;
  height: 400px;
}

.home-body {
  margin: 0;
  background: linear-gradient(to  right, #0d1b2a, #123524);
  color: #ffffff;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 1;
  position: relative;
}

.main-title {
  font-size: 32px;
  font-weight: bold;
}

.subtitle {
  display: flex;
  font-size: 24px;
  font-weight: normal;
  padding-top: 15px;
  font-weight: bold;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.logo-img {
  width: 30vw;
  height: auto;
}

hr {
  width: 98%;
  border: none;
  border-top: 2px solid;
  margin: 40px auto;
  background: linear-gradient(to  right, #0d1b2a, #123524);
}
.mapTitle{
  font-size: 40px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.mapaHome {
  display: block !important;
  width: 50% !important;
  height: 70vh !important;
  border: 2px solid black !important;
  border-radius: 5px;
}

.mapSection {
  display: flex;
  flex-direction: column;
}

.mapButtons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
  
}

.mapButtons button {
  background-color: #1f9e61;
  color: black;
  height: 40px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  padding: 0 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 18px;
}

.mapButtons button:hover {
  background-color: #123524;
  color: white;
}

.mapButtons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}




@media (max-width: 768px) {
  .home-body {
    flex-direction: column;
    text-align: center;
  }

  .page-container iframe {
    height: 300px;
  }

  .mapSection button {
    width: 80%;
  }

  .text-box {
    text-align: center;
  }
}
