@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

#root {
  margin: 0;
  width: 100vw;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.page-container img {
  max-width: 100%;
  height: auto;
}
.page-container.fullscreen-active {
    /* Esconde todo o conteúdo que não é o mapa */
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

hr {
  width: 98%;
  border: none;
  border-top: 2px solid;
  margin: 40px auto;
  background: linear-gradient(to right, #0d1b2a, #123524);
}

.mapTitle {
  font-size: 40px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
}

.mapSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
  position: relative;
}

.mapaHome {
  display: block !important;
  width: 50% !important;
  height: 70vh !important;
  border: 2px solid rgb(7, 126, 68) !important;
  border-radius: 5px;
  margin: 0 auto 20px auto !important;
}

.mapaHome.fullscreen-active {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 10000 !important;
  margin: 0 !important;
  border-radius: 0 !important;
  transition: all 0.3s ease-in-out;
}

.mapButtons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  padding: 0 15px;
}

.mapButtons button {
  background-color: #1f9e61;
  color: black;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  padding: 0 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 18px;
  flex-shrink: 0;
}

.mapButtons button:hover {
  background-color: #123524;
  color: white;
}

.mapButtons button:disabled {
  background-color: #ccc;
  cursor:not-allowed;
}

.fullscreen-toggle-btn {
  /* Altera a posição do botão no modo normal (fora de fullscreen) */
  position: absolute; /* Tira ele do fluxo normal */
  top: 12% !important;        /* 10px do topo do .mapSection */
  left: 25.8% !important;       /* 10px da esquerda do .mapSection */
  /* Remover estilos que o centralizavam */
  margin: 0;
  right: auto;
  bottom: auto; 
  display: flex;
  justify-content: center; /* Centraliza o conteúdo (o ícone) horizontalmente */
  align-items: center; /* Centraliza o conteúdo (o ícone) verticalmente */
  /* Seus estilos de aparência */
  background-color: white;
  color: black;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  padding: 1px 1px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.fullscreen-toggle-btn:hover {
  background-color: rgba(48, 45, 45, 0.185);
  color: white;
}

/* NOVO CÓDIGO: Altere as propriedades para movê-lo para a superior esquerda */
.fullscreen-toggle-btn.exit-mode {
  position: fixed; 
  top: 8.5% !important; 
  left: 0.91% !important; /* Use um valor fixo em pixels para alinhar com o Leaflet */

  
  background-color: #201c1a4d;
  color: white; /* Alterei para white para melhor legibilidade no mapa */
  z-index: 10002;
}

.fullscreen-toggle-btn.exit-mode:hover {
  background-color: #cc0000;
}

.mapSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
  position: relative;
}

.mapButtons.map-layer-buttons {
  margin-top: 10px;
}

@media (max-width: 2560px) {
  .fullscreen-toggle-btn {
    /* NOVO: Sobrescreve a posição fixa de desktop */
    top: 18% !important;  
    left: 26.2% !important; 
        
    /* CORREÇÃO CRÍTICA (evita esticamento) */
    right: auto; 
    bottom: auto;
        
    margin: 0; 
    padding: 2px 2px;
    font-size: 14px;
  }
  .fullscreen-toggle-btn.exit-mode {
    position: fixed;    
    /* NOVO: Sobrescreve a posição fixa de desktop */
    top: 14% !important;  
    left: 1.3% !important; 
        
    /* CORREÇÃO CRÍTICA (evita esticamento) */
    right: auto !important; 
    bottom: auto !important;
        
    margin: 0; 
    padding: 2px 2px;
    font-size: 14px;
  }
}

@media (max-width: 1366px) {
  .fullscreen-toggle-btn {
    /* NOVO: Sobrescreve a posição fixa de desktop */
    top: 18% !important;  
    left: 26.2% !important; 
        
    /* CORREÇÃO CRÍTICA (evita esticamento) */
    right: auto; 
    bottom: auto;
        
    margin: 0; 
    padding: 2px 2px;
    font-size: 14px;
  }
  .fullscreen-toggle-btn.exit-mode {
    position: fixed;    
    /* NOVO: Sobrescreve a posição fixa de desktop */
    top: 14% !important;  
    left: 1.3% !important; 
        
    /* CORREÇÃO CRÍTICA (evita esticamento) */
    right: auto !important; 
    bottom: auto !important;
        
    margin: 0; 
    padding: 2px 2px;
    font-size: 14px;
  }
}


@media (max-width: 1024px) {
  .home-body {
    gap: 30px;
    padding-bottom: 30px;
  }
  .main-title {
    font-size: 28px;
  }
  .subtitle {
    font-size: 20px;
  }
  .text-box {
    padding-top: 80px;
    margin-left: 5vw;
  }
  .logo-img {
    width: 60vw;
    margin-left: 3vw;
  }
  .mapaHome {
    width: 70% !important;
    height: 60vh !important;
  }
  .mapTitle {
    font-size: 34px;
  }

  .fullscreen-toggle-btn {
    position: absolute;    
    /* NOVO: Sobrescreve a posição fixa de desktop */
    top: 82px !important;  
    left: 170px !important; 
        
    /* CORREÇÃO CRÍTICA (evita esticamento) */
    right: auto !important; 
    bottom: auto !important;
        
    margin: 0; 
    padding: 2px 2px;
    font-size: 14px;
  }
  .fullscreen-toggle-btn.exit-mode {
    position: fixed;    
    /* NOVO: Sobrescreve a posição fixa de desktop */
    top: 14% !important;  
    left: 1.7% !important; 
        
    /* CORREÇÃO CRÍTICA (evita esticamento) */
    right: auto !important; 
    bottom: auto !important;
        
    margin: 0; 
    padding: 2px 2px;
    font-size: 14px;
  }

  .fullscreen-toggle-btn.exit-mode:hover {
    background-color: #cc0000;
  }

}

@media (max-width: 768px) {
  .home-body {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 70px;
    gap: 20px;
    padding-bottom: 20px;
  }
  .main-title {
    font-size: 28px;
  }
  .subtitle {
    font-size: 20px;
  }
  .text-box {
    padding: 20px;
    margin: 0;
    width: 90%;
  }
  .logo-box {
    width: 100%;
    order: -1;
    padding: 0 15px;
    margin-bottom: 20px;
  }
  .logo-img {
    width: 60vw;
    margin: 0 auto;
  }
  .mapTitle {
    font-size: 30px;
    margin-top: 30px;
  }
  .mapaHome {
    width: 95% !important;
    height: 50vh !important;
  }
  .mapButtons {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    padding: 0 50px;
    align-items: center;
  }
  .mapButtons button {
    width: 90%;
    font-size: 16px;
    padding: 12px;
    height: auto;
    /* Evita que o texto quebre ou esprema os botões */
    white-space: nowrap;
  }
  .fullscreen-toggle-btn {
    position: absolute;
        
    /* NOVO: Sobrescreve a posição fixa de desktop */
    top: 80px !important;  
    left: 26px !important; 
        
    /* CORREÇÃO CRÍTICA (evita esticamento) */
    right: auto !important; 
    bottom: auto !important;
        
    margin: 0; 
    padding: 2px 2px;
    font-size: 14px;
  }
  .fullscreen-toggle-btn.exit-mode {
    position: fixed;
        
    /* NOVO: Sobrescreve a posição fixa de desktop */
    top: 12% !important;  
    left: 4.2% !important; 
        
    /* CORREÇÃO CRÍTICA (evita esticamento) */
    right: auto !important; 
    bottom: auto !important;
        
    margin: 0; 
    padding: 2px 2px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .main-title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 18px;
  }
  .logo-img {
    width: 70vw;
  }
  .mapTitle {
    font-size: 26px;
  }
  .mapaHome {
    height: 40vh !important;
  }
  .mapButtons button {
    font-size: 14px;
    padding: 10px;
  }

  .fullscreen-toggle-btn {
    position: absolute;
        
    /* NOVO: Sobrescreve a posição fixa de desktop */
    top: 80px !important;  
    left: 26px !important; 
        
     /* CORREÇÃO CRÍTICA (evita esticamento) */
    right: auto !important; 
    bottom: auto !important;
        
    margin: 0; 
    padding: 2px 2px;
    font-size: 14px;
  }
  .fullscreen-toggle-btn.exit-mode {
    position:fixed;
        
    /* NOVO: Sobrescreve a posição fixa de desktop */
    top: 12% !important;  
    left: 4.2% !important; 
        
     /* CORREÇÃO CRÍTICA (evita esticamento) */
    right: auto !important; 
    bottom: auto !important;
        
    margin: 0; 
    padding: 2px 2px;
    font-size: 14px;
  }

  .fullscreen-toggle-btn.exit-mode:hover {
    background-color: #cc0000;
  }
}
