@import "leaflet/dist/leaflet.css";
* {
  box-sizing: border-box;
} 
:root {
  font-family: sans-serif;
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(236, 236, 236);
}
::-webkit-scrollbar {
  display: none;
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}


::-webkit-scrollbar-thumb {
  background: #979797;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #043f08;
}
.leaflet-container {
  background: #ddd;
}

.leaflet-tile {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  filter: none !important;
}

img.leaflet-tile {
  all: unset;
  opacity: 1 !important;
  visibility: visible !important;
  display: block !important;
}



