* {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin; /* para Firefox */
  scrollbar-color: #8a8a8a transparent;
  
}
:root {
  font-family: sans-serif;
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(224, 223, 223);
}
::-webkit-scrollbar {
  display: none;
}

/* Fundo da scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Barra de rolagem em si */
::-webkit-scrollbar-thumb {
  background: #979797;
  border-radius: 10px;
}

/* Scrollbar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #043f08;
}




